doctype
html
  head
    title Planets

    link(href="css/main.css", rel="stylesheet")
  body
    #solarSystem

    script(type="text/javascript", src="dist/libs.bundle.js")
    script(type="text/javascript", src="dist/main.min.js")